body {
    background-image: url('src/assets/img/barbearia-fundo.jpg');
    background-size: cover;
    /* Faz a imagem cobrir toda a tela */
    background-attachment: fixed;
    /* Define que a imagem ficará fixa enquanto o usuário rola a página */
    background-position: center;
    /* Posiciona a imagem no centro */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
}

header img {
    height: 100px;

    border-radius: 50px;
    background-color: var(--header-bg-a);
}

/* .logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
} */

header a{
    text-decoration: none;
    /* border: 3px solid black; */
    color: white;
}

header nav {
    height: 20vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10vw ;
    background-color: var(--header-bg);
    /* border: 3px solid black; */
}


.nav-list {
    width: 100%;

    display: flex;
    justify-content: space-around;
    list-style: none;
    /* border: 3px solid black; */
}

.nav-list li {
    width: 100%;
    letter-spacing: 2px;
    margin-left: 82px;
    font-size: 20px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.nav-list li a:hover {
    color: rgb(182, 182, 182);
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.container {
    width: 100%;
    /* scroll-margin-top: 100px; /* altura do seu header fixo */

    display: flex;
    justify-content: center;

    padding: 0px 110px 80px 110px;

    background-color: rgb(189, 164, 129);
}

.container div {
    width: 100%;
    display: flex;
}

.c-img-1 {
    height: 700px;
}

.c-img-2 {
    height: 400px;
}

/* corrigir espaço!!!!!!!!! */

.container nav {
    width: 100%;
    height: 295px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    padding-top: 40px;

    background-color: var(--main-bg);
}

.container nav h1 {
    font-size: 40px;
    font-family: var(--font-family);
}

.container nav a {
    padding: 20px 40px;

    font-size: 20px;
    border-radius: 20px;

    color: white;
    background-color: var(--buttons-bg);
}

.container nav a:hover {
    padding: 25px 50px;
    transition: 0.3s;
}

.sobre {
    width: 100%;
    display: flex;

    padding: 50px;

    font-family: var(--font-family);
    background-color: var(--main-bg);
}

.sobre article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 40px;
}

.sobre article h1 {
    font-size: 40px;
}

.transparente {
    width: 100%;
    height: 350px;

    display: flex;
    align-items: end;
}

.transparente p {
    margin: 10px 40px;

    font-size: 50px;
    font-family: var(--font-family);

    color: rgb(255, 252, 252);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.barbeiros {
    width: 100%;
    /* scroll-margin-top: 100px; altura do seu header fixo */

    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 50px 20%;

    font-family: var(--font-family);
    background-color: var(--main-bg);
}

.barbeiros h1 {
    text-align: center;

    font-size: 40px;
}

.b {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.b article {
    display: flex;
    gap: 40px;
}

.diego {
    display: flex;
    flex-direction: row-reverse;
}

.b-img img {
    height: 400px;
}

.b-info {
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
}

.b-info h2 {
    font-size: 30px;
}

.b nav a{
    padding: 20px 30px;
    
    font-size: 20px;
    border-radius: 20px;

    color: white;
    background-color: var(--buttons-bg);
}

.b nav a:hover{
    padding: 25px 45px;
    transition: 0.3s;
}

.info {
    width: 100%;
    /* scroll-margin-top: 100px; altura do seu header fixo */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 100px;

    font-family: var(--font-family);
    color: white;
    background-color: var(--header-bg);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.info h1 {
    text-align: center;
    margin: 30px;

    font-size: 40px;
}

.info div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.info article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.info article ul {
    text-align: center;
    list-style: none;
}

iframe {
    width: 100%;
    height: 250px;

    margin: 40px 0px;
}

footer {
    width: 100%;
    height: 50px;

    display: flex;
    align-content: end;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--footer-bg);
    color: #d6d4d4;
}

footer a {
    font-family: cursive;
    color: rgb(226, 223, 223);
    text-decoration: none;
}

footer a:hover {
    color: rgb(61, 146, 202);
}

/* ========================================================= */

@media (max-width: 999px) {

    .container{
        padding: 0px 83px 80px 83px;
    }

    .container div {
        height: 100%;
        flex-direction: column;
    }

    .c-img-1 {
        height: 368px;
    }

    .c-img-2 {
        height: 175px;
    }

    .c2{
        display: flex;
        flex-direction: column-reverse;
    }

    .container nav {
        height: 100%;
        gap: 30px;
    }
    
    .container nav a {
        padding: 15px 30px;
        margin-bottom: 40px;
    }

    .sobre {
        flex-direction: column;
    }

    .sobre article {
        text-align: center;
    }

    .transparente p {
        margin: 10px 20px;
    }

    .b{
        gap: 100px;
    }

    .barbeiros article {
        height: 100%;
        flex-direction: column;
        gap: 10px;
        
    }

    .b-img img{
       width: 262px;
       height: 100%;
    }

    .b-info{ 
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .b-info nav{
        margin-top: 20px;
    }

    .info{
        gap: 20px;
    }

    .info div {
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    iframe {
        height: 100%;
    }

    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--header-bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line-2 {
    opacity: 0;
}
.mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-5px, 7px);
}

