body{
    background-image: url('src/assets/barbearia-fundo.jpg');
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-attachment: fixed; /* Define que a imagem ficará fixa enquanto o usuário rola a página */
  background-position: center; /* Posiciona a imagem no centro */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
}

header{
    width: 100%;
    height: 130px;
    /* position: fixed; */

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0px 10%;

    background-color: var(--header-bg);
}

header img{
    height: 100px;

    border-radius: 50px;
    background-color: var(--header-bg-a);
}

header div{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

header nav{    
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header nav a{
    width: 100px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 13px;

    font-size: 18px;
    font-family: var(--font-family);

    color: black;
    background-color: var(--header-bg-a);   
}

header nav a:hover{
    margin: 10px;
    transition: 0.3s;

    color: white;
    background-color: var(--header-bg-a-hover);
}

.container{
    width: 100%;
    /* scroll-margin-top: 100px; /* altura do seu header fixo */
    
    display: flex;
    justify-content: center;
    
    padding-bottom: 50px;

   background-color: rgb(189, 164, 129);
}

.container div{
    display: flex;
}

.barbearia{
    height: 700px; 
}

.barbeiro{
    height: 400px;
}

.container nav{
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    padding-top: 40px;

    background-color: var(--main-bg);
}

.container nav h1{
    font-size: 40px;
    font-family: var(--font-family);
}

.container nav a{
    padding: 20px 40px;

    font-size: 20px;
    border-radius: 20px;

    color: white;
    background-color: var(--buttons-bg);
}

.container nav a:hover{
    padding: 25px 50px;
    transition: 0.3s;
}

.sobre{
    width: 100%;
    display: flex;

    padding: 50px;

    font-family: var(--font-family);
    background-color: var(--main-bg);
}

.sobre article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 40px;
}

.sobre article h1{
    font-size: 40px;
}

.transparente{
    width: 100%;
    height: 350px;

    display: flex;
    align-items: end;
}

.transparente p{
    margin: 10px 50px;

    font-size: 50px;
    font-family: var(--font-family);

    color: rgb(255, 252, 252);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.barbeiros{
    width: 100%;
    /* scroll-margin-top: 100px; altura do seu header fixo */

    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 50px 20%;

    font-family: var(--font-family);
    background-color: var(--main-bg);
}

.barbeiros h1{
    text-align: center;

    padding: 10px;

    font-size: 40px;
}

.barbeiros article{
    display: flex;    
    gap: 40px;
}

.barbeiros div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.barbeiros h2{
    font-size: 30px;
}

.barbeiros a{
    width: 200px;
    padding: 20px 40px;

    font-size: 20px;
    border-radius: 20px;

    color: white;
    background-color: var(--buttons-bg);
}

.barbeiros a:hover{
    padding: 25px 50px;
    transition: 0.3s;
}

.barbeiros img{
    height: 400px;
}

.info{
    width: 100%;
    /* scroll-margin-top: 100px; altura do seu header fixo */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 100px;

    font-family: var(--font-family);
    color: white;
    background-color: var(--header-bg);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.info h1{
    text-align: center;
    margin: 30px;

    font-size: 40px;
}

.info div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.info article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.info article ul{
    text-align: center;
    list-style: none;
}

iframe{
    width: 100%;
    height: 250px;

    margin: 40px 0px;
}

footer{
    width: 100%;
    height: 50px;

    display: flex;
    align-content: end;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--footer-bg);
    color: #d6d4d4;
}

footer a{
    font-family: cursive;
    color: rgb(226, 223, 223);
    text-decoration: none;
}

footer a:hover{
    color: rgb(61, 146, 202);
}

/* ========================================================= */

@media (max-width: 500px) {
    
    .barbearia{
        height: 350px; 
    }
    
    .barbeiro{
        height: 175px;
    }

    .container div{
        display: flex;
        flex-direction: column;
    }
   
    .sobre{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .sobre article{
        display: flex;
        text-align: center;   
    }
    
}

