* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth; 
}

/* background-color */
:root{ 
    --header-bg: rgb(141, 86, 14);
    --header-bg-a: rgba(240, 248, 255, 0.418); 
    --header-bg-a-hover: rgba(5, 5, 5, 0.329);
    --buttons-bg: rgb(214, 143, 50);
    --main-bg: white;
    --footer-bg: rgb(104, 61, 4);
    --input-bg: rgb(247, 247, 247);
}