<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Beard</title>

    <link rel="shortcut icon" href="/src/assets/banner.png" type="image/x-icon">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/src/styles/global.css">
</head>

<body>
    <header id="home">
        <div>
            <a href="/index.html"><img src="/src/assets/banner-png.png" alt="logo Black Beard"></a>

            <nav>
                <a href="/index.html">Home</a>
                <a href="http://127.0.0.1:5500/index.html#sobre">Sobre</a>
                <a href="http://127.0.0.1:5500/index.html#barbeiros">Barbeiros</a>
                <a href="http://127.0.0.1:5500/index.html#info">Informações</a>
                <a href="#contato">Contato</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="barbearia">
            <img src="/src/assets/barbearia-3.jpg" alt="">
        </section>
        <section class="contato">
            <article>
                <div class="info-ctt">
                    <h1>Get in Touch</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ex quibusdam fugiat velit
                        impedit itaque vero repellendus! Eligendi, voluptas tempora hic officia quam magnam unde sequi
                        rerum dolorum, debitis iure?</p>
                </div> <!--info-ctt-->
            </article>
            <article>                
                    <form action="https://formsubmit.co/lucassvswork@gmail.com
                " method="POST" class="form-ctt">

                        <div class="ip-email-p5">
                            <h2>Nome</h2>
                            <input type="text" name="name" placeholder="Please, enter your Name" required>
                        </div>

                        <div class="ip-email-p5">
                            <h2>Email</h2>
                            <input type="email" name="Email" placeholder="Please, enter your Email" required>
                        </div>

                        <div class="ip-mensagem-p5">
                            <h2>Mensagem</h2>
                            <textarea cols="30" rows="10" name="message" placeholder="Please, enter your Message"
                                required></textarea>
                        </div>
                        <div>
                            <button type="submit">Submit ></button>
                        </div>
                        <input type="hidden" name="_subject" value="Novo Contato!">
                        <input type="text" name="_honey" style="display:none;">
                        <input type="hidden" name="_captcha" value="false">
                    </form>
            </article>

        </section>
    </main>
    <footer>
        <p>&copy; 2025 | Black Beard | Site desenvolvido por <a href="https://github.com/lusvs"
            target="_blank">lusvs</a></p>
    </footer>