header img {
    height: 85px;

    border-radius: 50px;
    background-color: var(--header-bg-a);
}

header a{
    text-decoration: none;
    color: white;
}

header nav {
    height: 18vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10vw ;
    background-color: var(--header-bg);
}


.nav-list {
    width: 100%;

    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-list li {
    width: 100%;
    letter-spacing: 2px;
    margin-left: 82px;
    font-size: 20px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.nav-list li a:hover {
    color: rgb(182, 182, 182);
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.container {
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 0px 110px 80px 110px;

    background-color: rgb(189, 164, 129);
}

.barbearia{
    width: 100%;
}

.barbearia img{
    width: 100%;  
}

.contato{
    width: 100%;
    display: flex;
    background-color: var(--main-bg);
}

.contato article{
    width: 100%;

    display: flex;
}

.info-ctt{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 50px;

    font-family: var(--font-family);
}

.info-ctt h1{
    font-size: 40px;
 }

.info-ctt p{
    font-size: 20px;  
 }

 .form-ctt{
    width: 100%;

    display: flex;
    flex-direction: column;   
    gap: 20px;

    margin: 50px;

    font-family: var(--font-family);
 }

 .form-ctt div input{      
    width: 100%;
    height: 40px;

    padding: 10px;
    
    background-color: var(--input-bg);
 }

 .form-ctt div textarea{      
    width: 100%;
    height: 80px;

    padding: 10px;

    background-color: var(--input-bg);
 }

 button{
    padding: 10px 40px;

    font-size: 15px;
    border-radius: 20px;

    color: white;
    background-color: var(--buttons-bg);
 }

 button:hover{
    padding: 12px 45px;
    transition: 0.3s;
 }

 footer{
    width: 100%;
    height: 50px;

    display: flex;
    align-content: end;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--footer-bg);
    color: #d6d4d4;
}

footer a{
    font-family: cursive;
    color: rgb(226, 223, 223);
    text-decoration: none;
}

footer a:hover{
    color: rgb(61, 146, 202);
}

@media (max-width: 500px){
    .contato{
        flex-direction: column;
    }

    .info-ctt{
        margin: 25px;    
    }

    .form-ctt{
        margin: 25px;
    }
    body{
        overflow-x: hidden;
    }

    header nav {
        height: 12vh;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 10vw ;
        background-color: var(--header-bg);
    }

    header img{
        height: 65px;

        border-radius: 50px;
        background-color: var(--header-bg-a);
    }

    .nav-list{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: var(--header-bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px, 12px);
}
.mobile-menu.active .line-2 {
    opacity: 0;
}
.mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-5px, 0px);
}


 



